.page-btn {
    border: none;
    width: 8rem;
    height: 3rem;
    background: rgb(255,150,48);
    background: linear-gradient(180deg, rgba(255,150,48,1) 92%, rgba(250,180,113,1) 100%);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    transition: .25s;
}
.page-btn > span{
    color: white;
    position: relative;
    top:25%;
    font-weight:bold;
}
.page-btn:hover {
    transition: .25s;
    background-color: rgb(255, 191, 126);
    color: rgb(232, 232, 232);
    border: 1px rgb(170, 170, 170) solid;
}
.save-btn {
    border: none;
    width: 8rem;
    height: 3rem;   
    background: rgb(57,209,209);
    background: linear-gradient(180deg, rgba(57,209,209,1) 92%, rgba(115,231,231,1) 100%);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    transition: .25s;
}
.save-btn > span{
    color: white;
    position: relative;
    top:25%;
    font-weight:bold;
}
.save-btn:hover {
    transition: .25s;
    background-color: rgba(115,231,231,1);
    color: rgb(232, 232, 232);
    border: 1px rgb(170, 170, 170) solid;
}
.page-btn > span:hover , .save-btn > span:hover{
    text-decoration: inherit;
    transition: .25s;
}
a {
    color: rgb(255, 150, 48);
}
.input-width {
    max-width: 25rem;
}
form {
    padding: 1rem;
}
.form-group {
    padding: 3px;
}
.top {
    position: absolute;
    z-index: 1;
    top:5%;
    left:85%;
    margin-right: 2rem;
}
.bottom {
    position: relative;
    left: 30%;
    margin-right: .75rem;
}